@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: var(--pallet-color-01);
  --pallet-color-01: rgb(229, 214, 211);
  --pallet-color-02: rgb(229, 196, 189);
  --pallet-color-03: rgb(229, 180, 167);
  --pallet-color-04: rgb(217, 155, 141);
}

body {
  padding: 0;
  margin: 0;
}

header {
  width: inherit;
}

.product-card {
  background-color: var(--pallet-color-02);
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  border-radius: 16px;
  overflow: hidden;
}
